<div class="event-details">
    <div id="card-header">
            <h2> event.title | uppercase </h2>
    </div>
    <div class="main-details">
        <div class="card">
            <h4>Jeu:  event.game </h4>
            <button class="on-card-button">+</button>
        </div>
        <div class="card">
            <h4>Joueurs:  event.wantedPlayers </h4>
            <button class="on-card-button">+</button>
        </div>
        <div class="card">
            <h4>Lieu:  event.location </h4>
            <button class="on-card-button">+</button>
        </div>
        <div class="card">
            <h4>Date:  event.dateDay </h4>
            <button class="on-card-button">+</button>
        </div>
    </div>
    <div class="description">
        <p> event.description </p>
    </div>
    <div id="more-details">
        
    </div>
</div>