<div class="event-details">
    <div id="card-header">
            <h2> titre: {{ev.title | uppercase}} </h2>
    </div>
    <div class="main-details">
        <p-card header="Jeu">
            <p>{{ev.gameUuid}} </p>
        </p-card>
        <p-card header="Joueurs">
            <p>De {{ev.minPlayer}} à {{ev.maxPlayer}}</p>
            <p>Places libres: ev.availableSlots</p>
        </p-card>
        <p-card header="Lieu">
            <p>{{ev.location}}</p>
        </p-card>
        <p-card header="Date">
            <p>L'évènement aura lieu à partir de {{ev.startDate}} jusque {{ev.endDate}}</p>
            <p>Les inscriptions sont ouvertes jusque {{ev.limitDate}}</p>
        </p-card>
        <p-card header="Description">
            <p>{{ev.description}}</p>
        </p-card>
    </div>
</div>