<div
  class="profil-page"
  [ngClass]="{ countered: buttonText === 'Remove counter' }"
>
  <div id="card-header">
    <div id="identity">
      <div id="icon">
        <img [src]="profil.iconUrl" [alt]="profil.nickname" />
      </div>
      <div id="nickname">
        <h2>{{ profil.nickname | uppercase }}</h2>
      </div>
    </div>
    <div id="actions">
      <button id="on-card-button" (click)="onViewProfil()">See profil</button>
      <button id="on-card-button">Add Friendlist</button>
      <button id="on-card-button">Add Deniedlist</button>
    </div>
  </div>
</div>
