<header>
  <h1>OukilSon</h1>
  <nav>
    <a
      routerLink=""
      routerLinkActive="active-page"
      [routerLinkActiveOptions]="{ exact: true }"
      >Accueil</a
    >
    <a routerLink="eventslist" routerLinkActive="active-page">Parties</a>
    <a routerLink="my-profile" routerLinkActive="active-page">Mon profil</a>
    <a routerLink="gameslist" routerLinkActive="active-page">Jeux</a>
    <a routerLink="profillist" routerLinkActive="active-page">Membres</a>
    <a routerLink="create-event" routerLinkActive="active-page"
      >Créer une partie</a
    >
  </nav>
  <hr id="menu-bar" />
</header>
