<header>
  <h1>OukilSon</h1>
  <nav>
    <a
      routerLink=""
      routerLinkActive="active-page"
      [routerLinkActiveOptions]="{ exact: true }"
      >ACCUEIL</a
    >
    <a routerLink="eventslist" routerLinkActive="active-page">PARTIES</a>
    <a routerLink="my-profile" routerLinkActive="active-page">MON PROFIL</a>
    <a routerLink="gameslist" routerLinkActive="active-page">JEUX</a>
    <a routerLink="profillist" routerLinkActive="active-page">MEMBRES</a>
    <a routerLink="create-event" routerLinkActive="active-page"
      >CR&#201;ER UNE PARTIE</a
    >
  </nav>
  <hr id="menu-bar" />
</header>
