<footer>
    <hr class="bar" />
    <nav>
        <div>
            <h3>À Propos</h3>
            <ul class="links">
                <li><a routerLink="about" routerLinkActive="active-page">Qui sommes-nous?</a></li>
                <li><a routerLink="contact" routerLinkActive="active-page">Contactez-nous</a></li>
                <li><a routerLink="faq" routerLinkActive="active-page">FAQ</a></li>
            </ul>
        </div>
        <div>
            <h3>Sérieusement</h3>
            <ul class="links">
                <li><a routerLink="legal" routerLinkActive="active-page">Mentions légales</a></li>
                <li><a routerLink="cgu" routerLinkActive="active-page">Conditions d'utilisation</a></li>
                <li><a routerLink="confidentiality" routerLinkActive="active-page">Politique de confidentialité</a></li>
            </ul>
        </div>
        <div>
            <h3>Réseaux</h3>
            <ul class="social">
                <li><a href=""><img src="./assets/youtube.png" alt="youtube logo"></a></li>
                <li><a href=""><img src="./assets/fb.png" alt="facebook logo"></a></li>
                <li><a href=""><img src="./assets/twitter.png" alt="twitter logo"></a></li>
                <li><a href=""><img src="./assets/instagram.png" alt="instagram logo"></a></li>
            </ul>
        </div>
    </nav>
</footer>