<p-table
  [value]="users"
  styleClass="p-datatable-gridlines"
  responsiveLayout="scroll"
  class="list-container"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nom</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td class="name-and-image-card">
        <img
          src="https://cf.geekdo-images.com/x3zxjr-Vw5iU4yDPg70Jgw__micro/img/4Od3GYCiqptga0VbmyumPbJlBsU=/fit-in/64x64/filters:strip_icc()/pic3490053.jpg"
          alt="placeholder image"
        />{{ this.user.nickname }}
      </td>
      <td>
        <button type="button" (click)="switchView(user)">
          {{ buttonText }}
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>