#on-card-button {
  width: 70px;
  font-size: 50px;
  font-weight: lighter;
  border-radius: 80px;
}

#profil-page {
  box-sizing: border-box;
  width: 60%;
  margin: 20px auto;
  padding: 10px 10px;
  background-color: white;
  border-radius: 10px;
  img {
    width: 130px;
    height: 130px;
    margin-left: -10px;
  }
  #icon {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    width: 140px;
    height: 140px;
    overflow: hidden;
    background-color: white;
    border: 2px solid rgb(6, 6, 233);
  }
}

#card-on-card-container {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

#card {
  margin-top: 70px;
  width: 400px;
  box-shadow: lightgray 3px 3px 7px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  font-size: 1.2em;
  margin-top: -5px;
}
