
#card-on-card-container {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}
ul {
  list-style: none;
  font-size: 1.2em;
  margin-top: -5px;
}

.details-container {
  flex-direction: row;
}

.main-card {
  width: 80%;
  margin-top: 0;
}

.component-container {
  margin: 0;
  padding: 2% 0;
}

.details-container:nth-child(1) {
  flex: 1;
}

.details-container > div {
  flex: 0.5;
}