<div class="component-container">
    <div class="search-card">
        <form [formGroup]="searchEventByCityForm" (ngSubmit)="searchByCity()" method="get" class="form">
            <h3>Recherche par ville</h3>
            <span class="p-float-label">
                <input formControlName="city" type="text" pInputText class="login-form" maxlength="45"
                    name="city" />
                <label for="float-input">Ville</label>
            </span>
            <button class="grey-button" type="submit">Rechercher</button>
        </form>
    </div>
    <div class="search-card">
        <form [formGroup]="searchEventByDateForm" (ngSubmit)="searchByDate()" method="get" class="form">
            <h3>Recherche par date</h3>
            <span class="p-float-label">
                <input formControlName="date" type="date" pInputText class="login-form" maxlength="45"
                    name="date" />
            </span>
            <button class="grey-button" type="submit">Rechercher</button>
        </form>
    </div>
</div>
