<a id="backButton" routerLink=""> < Accueil</a>
<div id="card">
  <div id="login">
    <form
      #createAccountForm="ngForm"
      (ngSubmit)="onFormSubmit(createAccountForm)"
      id="login-container"
      method="get"
      class="form"
    >
      <label class="form-label" for="nickname"></label>
      <input
        class="login-form"
        type="text"
        placeholder="PSEUDO"
        maxlength="45"
        ngModel
        id="nickname"
        name="username"
        required
      />

      <br />
      <label class="form-label" for="password"></label>
      <input
        class="login-form"
        type="password"
        placeholder="MOT DE PASSE"
        minlength="6"
        maxlength="40"
        ngModel
        id="password"
        name="password"
        required
      />
      <br />
      <label class="form-label" for="confirmpassword"></label>
      <input
        class="login-form"
        type="password"
        placeholder="CONFIRMER MOT DE PASSE"
        minlength="6"
        maxlength="40"
        ngModel
        id="confirmpassword"
        name="confirmpassword"
        required
      />
      <br />
      <label class="form-label" for="email"></label>
      <input
        class="login-form"
        type="email"
        placeholder="EMAIL"
        maxlength="45"
        ngModel
        id="email"
        name="email"
        required
      />
      <br />
      <button id="on-card-button" type="submit">Valider</button>
    </form>
  </div>
</div>
