<p-table
  [value]="events"
  styleClass="p-datatable-gridlines"
  responsiveLayout="scroll"
  class="list-container"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Titre</th>
      <th>Jeu</th>
      <th>Où?</th>
      <th>Quand?</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-event>
    <tr>
      <td>{{ this.event.title }}</td>
      <td>{{ this.event.game.name }}</td>
      <td>{{ this.event.location.town }}</td>
      <td>{{ this.event.startingDate.toLocaleString() }}</td>
      <td>
        <button id="on-card-button" (click)="switchView(event)">
          {{ buttonText }}
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
