.p-float-label {
    margin-bottom: 20px;
}
.list-container {
    display: flex;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    #searchCard {
        max-width: 20vw;
        width: 20vw;
        margin-left: 20px;
        margin-top: 0px;
        padding: 0px 15px 15px 15px;
    }
}

#events {
    margin: 5px;
}