<div id="listContainer">
    <div id="searchCard">
        <form
        #searchEventForm="ngForm"
        id="login-container"
        method="get"
        class="form"
        >
        <h3>Recherche</h3>
        <span class="p-float-label">
            <input
            type="text"
            pInputText
            maxlength="45"
            name="city"
            />
            <label for="float-input">Ville</label>
        </span>
        <br />
        <!-- <span class="p-float-label">
            <input
            class="input-date"
            type="date"
            pInputText
            name="date"
            />
        </span> -->
        <button id="on-card-button" type="submit">Rechercher</button>
    </form>
</div>
<div id="events-card">
    <div class="card"  *ngFor="let event of events"> <!--TODO (click)="showDetails()"-->
        <span>event.title</span>
        <span>event.game</span>
        <span>event.players</span>
        <span>event.location</span>
        <span>event.date</span>
    </div>
</div>
</div>