<div id="home-page">
  <div id="card">
    <div id="login">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onFormSubmit(loginForm)"
        id="login-container"
      >
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            formControlName="nickname"
            class="login-form"
            maxlength="45"
            id="float-input"
            name="username"
            required
          />
          <label for="float-input">PSEUDO ou EMAIL</label>
        </span>
        <div
          *ngIf="
            loginForm.controls['nickname'].invalid &&
            (loginForm.controls['nickname'].dirty ||
              loginForm.controls['nickname'].touched)
          "
          id="alert"
        >
          <div *ngIf="loginForm.controls['nickname'].errors">
            Veuillez entrer votre pseudo ou email.
          </div>
        </div>
        <br />
        <span class="p-float-label">
          <input
            type="password"
            pInputText
            formControlName="password"
            class="login-form"
            maxlength="40"
            id="password"
            name="password"
            required
          />
          <label for="float-input">MOT DE PASSE</label>
        </span>
        <div
          *ngIf="
            loginForm.controls['password'].invalid &&
            (loginForm.controls['password'].dirty ||
              loginForm.controls['password'].touched)
          "
          id="alert"
        >
          <div *ngIf="loginForm.controls['password'].errors">
            Veuillez entrer votre mot de passe.
          </div>
        </div>
        <br />
        <input
          [disabled]="loginForm.invalid"
          id="submitButton"
          type="submit"
          value="Se connecter"
        />
        <button id="createAccount" (click)="onCreateAccount()">
          Créer un compte
        </button>
        <br />
        <br />
        <a routerLink="/password-reset" routerLinkActive="active-page">Mot de passe oublié?</a>      
      </form>
    </div>
  </div>
</div>
