<div id="profil-page" *ngIf="profil !== undefined">
  <div id="card-header">
    <div id="group-name-contact">
      <div id="nickname">
        <h2>{{ this.profil.nickname | uppercase }}</h2>
      </div>
    </div>
    <div id="icon">
      <img [src]="iconUrl" />
    </div>
  </div>
  <div>
    <hr />
    <div id="card-on-card-container">
      <div id="card">
        <h4>Prochaines parties</h4>
        <hr id="menu-bar" />
        <ul *ngFor="let event of this.profil.eventList">
          <li routerLink="../events/${{ event.title }}">
            <span id="title">{{ event.title }}</span> -
            {{ displayDate(event.date) }}
          </li>
        </ul>
        <button id="on-card-button" routerLink="../events">+</button>
      </div>
      <div>
        <div id="card">
          <h4>Mes jeux</h4>
          <hr id="menu-bar" />
          <ul *ngFor="let game of this.profil.ownedGame">
            <li routerLink="../games/${{ game.name }}">
              {{ game.name }}
            </li>
          </ul>
          <button id="on-card-button" routerLink="../games">+</button>
        </div>
        <div id="card">
          <h4>Les jeux que j'aime</h4>
          <hr id="menu-bar" />
          <ul *ngFor="let gameLiked of this.profil.likedGame">
            <li routerLink="../games/${{ gameLiked.name }}">
              {{ gameLiked.name }}
            </li>
          </ul>
          <button id="on-card-button" routerLink="../games">+</button>
        </div>
        <div id="card">
          <h4>Mes amis</h4>
          <hr id="menu-bar" />
          <ul *ngFor="let friend of this.profil.friendList">
            <li routerLink="../profillist/${{ friend.nickname }}">
              {{ friend.nickname }}
            </li>
          </ul>
          <button id="on-card-button" routerLink="../profillist">+</button>
        </div>
        <div id="card">
          <h4>Mes indésirables</h4>
          <hr id="menu-bar" />
          <ul *ngFor="let denied of this.profil.deniedList">
            <li routerLink="../profillist/${{ denied.nickname }}">
              {{ denied.nickname }}
            </li>
          </ul>
          <button id="on-card-button" routerLink="../profillist">+</button>
        </div>
      </div>
    </div>
  </div>
</div>
