<div
  id="profil-page"
  [ngClass]="{ countered: buttonText === 'Remove counter' }"
>
  <div id="card-header" (click)="onViewProfil()">
    <div id="identity">
      <div id="icon">
        <img [src]="profil.iconUrl" [alt]="profil.nickname" />
      </div>
      <div id="nickname">
        <h2>{{ profil.nickname | uppercase }}</h2>
      </div>
    </div>
    <div id="actions">
      <button id="on-card-button-green">Ajouter à mes amis</button>
      <button id="on-card-button-red">Ajouter à mes indésirables</button>
    </div>
  </div>
</div>
