<div id="profil-page">
  <div id="card-header" (click)="onViewProfil($event)">
    <div id="identity">
      <div id="icon">
        <img [src]="profil.iconUrl" [alt]="profil.nickname" />
      </div>
      <div id="nickname">
        <h2>{{ profil.nickname | uppercase }}</h2>
      </div>
    </div>
    <div id="actions">
      <button id="on-card-button-green" (click)="onAddFriendList($event)">
        {{ buttonFriendText }}
      </button>
      <button id="on-card-button-red" (click)="onAddDeniedList($event)">
        {{ buttonDeniedText }}
      </button>
    </div>
    <p *ngIf="onFriendList">Retirez le d'abord de votre liste d'amis</p>
    <p *ngIf="onDeniedList">Retirez le d'abord de votre liste d'indésirables</p>
  </div>
</div>
