<div id="profil-page">
  <div id="card-header" (click)="onViewProfil($event)">
    <div id="identity">
      <div id="icon">
        <img [src]="profil.iconUrl" [alt]="profil.nickname" />
      </div>
      <div id="nickname">
        <h2>{{ profil.nickname | uppercase }}</h2>
      </div>
    </div>
    <div id="actions">
      <button
        id="on-card-button-green"
        *ngIf="!onFriendList"
        (click)="onAddFriendList($event)"
      >
        Ajouter à mes amis
      </button>
      <button
        id="on-card-button-green"
        *ngIf="onFriendList"
        (click)="onAddFriendList($event)"
      >
        Retirer de mes amis
      </button>
      <button
        id="on-card-button-red"
        *ngIf="!onDeniedList && !onFriendList"
        (click)="onAddDeniedList($event)"
      >
        Ajouter à mes indésirables
      </button>
      <button
        id="on-card-button-red"
        *ngIf="onDeniedList && !onFriendList"
        (click)="onAddDeniedList($event)"
      >
        Retirer de mes indésirables
      </button>
    </div>
  </div>
</div>
