#card {
  height: 500px;
  display: block;
  text-align: center;
}

h1 {
  font-size: 200px;
  color: rgb(6, 6, 233);
  margin-top: 30px;
  margin-bottom: 20px;
}

h3 {
  color: rgb(6, 6, 233);
}

hr {
  border: solid 1px lightgrey;
  width: 80%;
  margin: 10px auto;
}
