<div class="component-container">
  <div class="details-container">
    <div class="details-header">
      <h2>{{ this.game.name }}</h2>
      <div class="buttons-container">
        <button
          id="on-card-button-green"
          *ngIf="!onGameLikedList"
          (click)="onAddGameLikedList()"
        >
          J'aime!
        </button>
        <button
          id="on-card-button-red"
          *ngIf="onGameLikedList"
          (click)="onAddGameLikedList()"
        >
          Je n'aime plus!
        </button>
        <button
          id="on-card-button-green"
          *ngIf="!onGameList"
          (click)="onAddGameList()"
        >
          Je l'ai!
        </button>
        <button
          id="on-card-button-red"
          *ngIf="onGameList"
          (click)="onAddGameList()"
        >
          Je ne l'ai plus!
        </button>
      </div>
    </div>
    <div *ngIf="this.game.description" class="details">
      <span class="title">Description:</span>
      {{ this.game.description }}
    </div>
    <div
      class="details"
      *ngIf="
        this.game.minPlayer ||
        this.game.maxPlayer ||
        this.game.minAge ||
        this.game.creatorName
      "
    >
      <span *ngIf="this.game.minPlayer && this.game.maxPlayer" class="title"
        >Joueurs:</span
      >
      <span *ngIf="this.game.minPlayer && this.game.maxPlayer"
        >{{ this.game.minPlayer }}-{{ this.game.maxPlayer }}</span
      >
      <span *ngIf="this.game.minAge" class="title">Âge recommandé:</span>
      <span *ngIf="this.game.minAge">{{ this.game.minAge }}+</span>
      <span *ngIf="this.game.creatorName" class="title">Créé par:</span>
      <span *ngIf="this.game.creatorName">{{ this.game.creatorName }}</span>
    </div>
    <div
      class="details"
      *ngIf="this.game.minPlayingTime || this.game.maxPlayingTime"
    >
      <span *ngIf="this.gameLength !== 0" class="title">Durée moyenne:</span>
      <span *ngIf="this.gameLength !== 0">{{ this.gameLength }}mn</span>
      <span
        *ngIf="this.gameLength === 0 && this.game.minPlayingTime"
        class="title"
        >Durée min:</span
      >
      <span *ngIf="this.gameLength === 0 && this.game.minPlayingTime">
        {{ this.game.minPlayingTime }}mn</span
      >
      <span
        *ngIf="this.gameLength === 0 && this.game.maxPlayingTime"
        class="title"
        >Durée max:</span
      >
      <span *ngIf="this.gameLength === 0 && this.game.maxPlayingTime">
        {{ this.game.maxPlayingTime }}mn</span
      >
    </div>
  </div>
</div>
