<div id="card">
  <div id="login">
    <form
      #createEventForm="ngForm"
      (ngSubmit)="onFormSubmit(createEventForm)"
      id="login-container"
      method="get"
      class="form"
    >
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          class="login-form"
          maxlength="45"
          id="event-title"
          name="event-title"
          required
        />
        <label for="float-input">TITRE</label>
      </span>
      <br />
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          class="login-form"
          maxlength="45"
          id="game-name"
          name="game-name"
          required
        />
        <label for="float-input">NOM DU JEU</label>
      </span>
      <br />
      <span class="p-float-label">
        <textarea
          type="text"
          pInputText
          class="login-form"
          maxlength="600"
          id="description"
          name="description"
          required
        ></textarea>
        <label for="float-input">DESCRIPTION</label>
      </span>
      <br />
      <span id="leftSpan"> DATE ET HEURE DE D&#201;BUT :</span>
      <span id="rightSpan">
        <label class="form-label" for="start-date"></label>
        <input
          class="login-form"
          type="datetime-local"
          id="start-date"
          name="start-date"
          required
        />
      </span>
      <br />
      <span id="leftSpan"> DATE ET HEURE DE FIN :</span>
      <span id="rightSpan">
        <label class="form-label" for="end-date"></label>
        <input
          class="login-form"
          type="datetime-local"
          id="end-date"
          name="end-date"
          required
        />
      </span>
      <br />
      <span id="leftSpan"> DATE LIMITE D'INSCRIPTION :</span>
      <span id="rightSpan">
        <label class="form-label" for="limit-date"></label>
        <input
          class="login-form"
          type="datetime-local"
          id="limit-date"
          name="limit-date"
          required
        />
      </span>
      <br />
      <span class="p-float-label">
        <input
          type="number"
          pInputText
          class="login-form"
          id="min-player"
          name="min-player"
          required
        />
        <label for="float-input">NOMBRE DE JOUEURS MIN.</label>
      </span>
      <br />
      <span class="p-float-label">
        <input
          type="number"
          pInputText
          class="login-form"
          id="max-player"
          name="max-player"
        />
        <label for="float-input">NOMBRE DE JOUEURS MAX.</label>
      </span>
      <br />
      <button
        id="on-card-button"
        [disabled]="createEventForm.invalid"
        type="submit"
      >
        Valider
      </button>
    </form>
  </div>
</div>
