span {
  font-family: inherit;
  color: grey;
  font-size: 1.3rem;
  display: inline-flex;
  white-space: nowrap;
  justify-content: space-between;
}

#card {
  width: 50%;
}

#login {
  width: 80%;
  display: flex;
  margin: auto;
}

#leftSpan {
  float: left;
  padding-top: 23px;
}

#rightSpan {
  float: right;
  width: 40%;
  padding-top: 7px;
}
