span {
  font-family: inherit;
  color: grey;
  font-size: 1.3rem;
  display: inline-flex;
  white-space: nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

#card {
  width: 50%;
}

#login {
  width: 80%;
  display: flex;
  margin: auto;
}

#leftSpan {
  float: left;
  padding-top: 23px;
}

#rightSpan {
  float: right;
  width: 45%;
  padding-top: 7px;
  font-size: 1em;
  text-align: end;
}

#leftSpanTown {
  width: 70%;
  float: left;
  justify-content: normal;
}

#zipCodeSpan {
  float: right;
  width: 28%;
}
