<div id="card">
  <div id="login">
    <form
      (ngSubmit)="onFormSubmit()"
      [formGroup]="createEventForm"
      class="login-container"
    >
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          class="form"
          maxlength="45"
          id="title"
          formControlName="title"
          required
        />
        <label for="float-input">TITRE</label>
      </span>
      <div
        *ngIf="
          createEventForm.controls['title'].invalid &&
          (createEventForm.controls['title'].dirty ||
            createEventForm.controls['title'].touched)
        "
        id="alert"
      >
        <div *ngIf="createEventForm.controls['title'].errors">
          Veuillez entrer un titre pour votre partie.
        </div>
      </div>
      <br />
      <p-overlayPanel #op>
        <ng-template pTemplate>
          <app-overlay-games-search
            (sendGame)="chosenGame($event); op.hide()"
          ></app-overlay-games-search>
        </ng-template>
      </p-overlayPanel>
      <button type="button" name="gameSelector" (click)="op.toggle($event)">
        {{ gameButtonContent }}
      </button>
      <!--<span class="p-float-label">
        <input
          type="text"
          pInputText
          class="login-form"
          maxlength="45"
          id="game-name"
          formControlName="gameName"
          required
        />
        <label for="float-input">NOM DU JEU</label>
      </span>
      <div
        *ngIf="
          createEventForm.controls['gameName'].invalid &&
          (createEventForm.controls['gameName'].dirty ||
            createEventForm.controls['gameName'].touched)
        "
        id="alert"
      >
        <div *ngIf="createEventForm.controls['gameName'].errors">
          Il est nécessaire de préciser à quel jeu vous allez jouer.
        </div>
      </div> -->
      <br />
      <span class="p-float-label">
        <textarea
          type="text"
          pInputText
          class="login-form"
          maxlength="600"
          id="description"
          formControlName="description"
          required
        ></textarea>
        <label for="float-input">DESCRIPTION</label>
      </span>
      <div
        *ngIf="
          createEventForm.controls['description'].invalid &&
          (createEventForm.controls['description'].dirty ||
            createEventForm.controls['description'].touched)
        "
        id="alert"
      >
        <div *ngIf="createEventForm.controls['description'].errors">
          Une petite description permettra de mieux comprendre votre évenement.
        </div>
      </div>
      <br />
      <span id="leftSpan">DATE ET HEURE DE D&#201;BUT :</span>
      <span id="rightSpan">
        <label class="form-label" for="startingDate"></label>
        <input
          class="login-form"
          type="datetime-local"
          id="startingDate"
          formControlName="startingDate"
          required
        />
      </span>
      <br />
      <span id="leftSpan">DATE ET HEURE DE FIN :</span>
      <span id="rightSpan">
        <label class="form-label" for="endingDate"></label>
        <input
          class="login-form"
          type="datetime-local"
          id="endingDate"
          formControlName="endingDate"
          required
        />
      </span>
      <br />
      <span id="leftSpan">DATE LIMITE D'INSCRIPTION :</span>
      <span id="rightSpan">
        <label class="form-label" for="limit-date"></label>
        <input
          class="login-form"
          type="datetime-local"
          id="limit-date"
          formControlName="limitDate"
          required
        />
      </span>

      <br />
      <span class="p-float-label">
        <input
          type="number"
          pInputText
          class="login-form"
          id="min-player"
          formControlName="minPlayer"
          required
        />
        <label for="float-input">NOMBRE DE JOUEURS MIN.</label>
      </span>
      <div
        *ngIf="
          createEventForm.controls['minPlayer'].invalid &&
          (createEventForm.controls['minPlayer'].dirty ||
            createEventForm.controls['minPlayer'].touched)
        "
        id="alert"
      >
        <div *ngIf="createEventForm.controls['minPlayer'].errors">
          Vous devez indiquer le nombre de joueurs minimum attendu.
        </div>
      </div>
      <br />
      <span class="p-float-label">
        <input
          type="number"
          pInputText
          class="login-form"
          id="max-player"
          formControlName="maxPlayer"
        />
        <label for="float-input">NOMBRE DE JOUEURS MAX.</label>
      </span>
      <div
        *ngIf="
          createEventForm.controls['maxPlayer'].invalid &&
          (createEventForm.controls['maxPlayer'].dirty ||
            createEventForm.controls['maxPlayer'].touched)
        "
        id="alert"
      >
        <div *ngIf="createEventForm.controls['maxPlayer'].errors">
          Vous devez indiquer le nombre de joueurs maximum souhaité.
        </div>
      </div>
      <br />
      <div formGroupName="location">
        <span class="p-float-label" id="leftSpanTown">
          <input
            type="text"
            pInputText
            class="login-form"
            maxlength="100"
            id="town"
            formControlName="town"
            required
          />
          <label for="float-input">VILLE</label>
        </span>
        <span class="p-float-label" id="zipCodeSpan">
          <input
            type="text"
            pInputText
            class="login-form"
            minlength="5"
            maxlength="5"
            id="zipCode"
            formControlName="zipCode"
            required
          />
          <label for="float-input">CODE POSTAL</label>
        </span>
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            class="login-form"
            maxlength="200"
            id="adress"
            formControlName="adress"
            required
          />
          <label for="float-input">ADRESSE</label>
        </span>
        <div
          *ngIf="
            createEventForm.controls['startingDate'].invalid &&
            (createEventForm.controls['startingDate'].dirty ||
              createEventForm.controls['startingDate'].touched)
          "
          id="alert"
        >
          <div *ngIf="createEventForm.controls['startingDate'].errors">
            Vous devez mettre une date et une heure de début.
          </div>
        </div>
        <div
          *ngIf="
            createEventForm.controls['limitDate'].invalid &&
            (createEventForm.controls['limitDate'].dirty ||
              createEventForm.controls['limitDate'].touched)
          "
          id="alert"
        >
          <div *ngIf="createEventForm.controls['limitDate'].errors">
            Vous devez mettre une date et une heure limite d'inscription.
          </div>
        </div>
        <div
          *ngIf="
            this.createEventForm.get('location.town')!.invalid &&
            (this.createEventForm.get('location.town')!.dirty ||
              this.createEventForm.get('location.town')!.touched)
          "
          id="alert"
        >
          <div *ngIf="this.createEventForm.get('location.town')!.errors">
            Veuillez entrer une ville.
          </div>
        </div>
        <div
          *ngIf="
            this.createEventForm.get('location.zipCode')!.invalid &&
            (this.createEventForm.get('location.zipCode')!.dirty ||
              this.createEventForm.get('location.zipCode')!.touched)
          "
          id="alert"
        >
          <div *ngIf="this.createEventForm.get('location.zipCode')!.errors">
            Veuillez entrer un code postal valide.
          </div>
        </div>
        <br />
      </div>
      <button id="button" type="submit">Valider</button>
    </form>
  </div>
</div>
