p {
  font-family: inherit;
  color: grey;
  font-size: 1.3rem;
  display: inline-flex;
  white-space: nowrap;
  justify-content: space-between;
}

#card {
  width: 50%;
}

#login-container {
  text-align: left;
}
