<a id="backButton" routerLink="/profillist"> < Membres</a>
<div id="profil-page">
  <div id="card-header">
    <div id="group-name-contact">
      <div id="nickname">
        <h2>{{ profil.nickname | uppercase }}</h2>
      </div>
      <div id="contact">
        <button id="on-card-button" (click)="onContact()">Contacter</button>
      </div>
    </div>
    <div id="icon">
      <img [src]="profil.iconUrl" [alt]="profil.nickname" />
    </div>
  </div>
  <div>
    <hr />
    <div id="card-on-card-container">
      <div id="card"><h4>Prochaines parties</h4></div>
      <div>
        <div id="card"><h4>Ses jeux</h4></div>
        <div id="card"><h4>Jeux aimés</h4></div>
      </div>
    </div>
  </div>
  <button id="on-card-button-green" (click)="onAddFriendList()">
    {{ buttonFriendText }}
  </button>
  <button id="on-card-button-red" (click)="onAddDeniedList()">
    {{ buttonDeniedText }}
  </button>
  <p id="pIf" *ngIf="onFriendList">Retirez le d'abord de votre liste d'amis</p>
  <p id="pIf" *ngIf="onDeniedList">
    Retirez le d'abord de votre liste d'indésirables
  </p>
</div>
