<a id="backButton" routerLink="/profillist"> < Back</a>
<div id="profil-page">
  <div id="card-header">
    <div id="group-name-contact">
      <div id="nickname">
        <h2>{{ profil.nickname | uppercase }}</h2>
      </div>
      <div id="contact">
        <button id="on-card-button" (click)="onContact()">Contact</button>
      </div>
    </div>
    <div id="icon">
      <img [src]="profil.iconUrl" [alt]="profil.nickname" />
    </div>
  </div>
  <div>
    <hr />
    <div id="card-on-card-container">
      <div id="card"><h4>Events Planned</h4></div>
      <div>
        <div id="card"><h4>His Games</h4></div>
        <div id="card"><h4>Games he like</h4></div>
      </div>
    </div>
  </div>
  <p *ngIf="profil.city === 'Lille'">City: {{ profil.city | uppercase }}</p>
  <p>Last connexion: {{ profil.online | date: "d MMMM yyyy à HH:mm" }}</p>
  <button id="on-card-button-green" (click)="onAddFriendList()">
    {{ buttonFriendText }}
  </button>
  <button id="on-card-button-red" (click)="onAddDeniedList()">
    {{ buttonDeniedText }}
  </button>
</div>
