<div id="listContainer">
  <div id="searchCard">
    <div id="login">
      <form
        #searchUserForm="ngForm"
        (ngSubmit)="onFormSubmit(searchUserForm)"
        id="login-container"
        method="get"
        class="form"
      >
        <h3>Recherche</h3>
        <label class="form-label" for="nickname"></label>
        <input
          class="login-form"
          type="text"
          placeholder="Pseudo"
          maxlength="45"
          name="username"
        />
        <br />
        <label class="form-label" for="game-owned"></label>
        <input
          class="login-form"
          type="text"
          placeholder="Jeu possédé"
          maxlength="40"
          name="gameOwned"
        />
        <br />
        <label class="form-label" for="firstname"></label>
        <input
          class="login-form"
          type="text"
          placeholder="Jeu aimé"
          maxlength="45"
          name="gameLiked"
        />
        <br />
        <label class="form-label" for="lastname"></label>
        <input
          class="login-form"
          type="text"
          placeholder="Ville"
          maxlength="45"
          name="location"
        />
        <br />
        <br />
        <div class="check">
          <input
            id="checkbox"
            type="checkbox"
            name="OnMyFriendList"
            value="OnMyFriendList"
          />Dans mes amis
        </div>
        <br />
        <div class="check">
          <input
            id="checkbox"
            type="checkbox"
            name="OnMyDeniedList"
            value="OnMyDeniedList"
          />Dans mes indésirables
        </div>
        <br />
        <button id="on-card-button" type="submit">Rechercher</button>
      </form>
    </div>
  </div>
  <div id="search-result">
    <app-profil
      *ngFor="let profil of profilList"
      [profil]="profil"
    ></app-profil>
  </div>
</div>
