<div class="listContainer">
  <div class="searchCard">
    <div class="login">
      <form
        #searchUserForm="ngForm"
        (ngSubmit)="onFormSubmit(searchUserForm)"
        id="login-container"
        method="get"
        class="form"
      >
        <h3>Search</h3>
        <label class="form-label" for="nickname"></label>
        <input
          class="login-form"
          type="text"
          placeholder="Name"
          maxlenght="45"
          id="nickname"
          ngModel
          name="username"
        />
        <br />
        <label class="form-label" for="game-owned"></label>
        <input
          class="login-form"
          type="text"
          placeholder="Game owned"
          maxlenght="40"
          id="gameOwned"
          ngModel
          name="gameOwned"
        />
        <br />
        <label class="form-label" for="firstname"></label>
        <input
          class="login-form"
          type="text"
          placeholder="Game liked"
          maxlenght="45"
          id="gameLiked"
          ngModel
          name="gameLiked"
        />
        <br />
        <label class="form-label" for="lastname"></label>
        <input
          class="login-form"
          type="text"
          placeholder="Location"
          maxlenght="45"
          id="location"
          ngModel
          name="location"
        />
        <br />
        <br />
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            ngModel
            name="OnMyFriendList"
            value="OnMyFriendList"
          />On my friend list
        </div>
        <br />
        <div class="check">
          <input
            class="checkbox"
            type="checkbox"
            ngModel
            name="OnMyDeniedList"
            value="OnMyDeniedList"
          />On my denied list
        </div>
        <br />
        <button id="on-card-button" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="search-result">
    <app-profil
      *ngFor="let profil of profilList"
      [profil]="profil"
    ></app-profil>
  </div>
</div>
