#searchCard {
  width: 20%;
}

#login {
  display: table;
  width: 80%;
  margin-left: 20px;
}

#login-container {
  text-align: left;
}

#check {
  color: grey;
  font-family: inherit;
  font-size: 1.3rem;
}

#card-header {
  width: 70%;
}

#listContainer {
  display: flex;
}

#search-result {
  width: 60%;
  margin: 20px auto;
}
