div {
    display: block;
}

p {
    background-color: #d1d8e0;
    border-radius: 10px;
    color: #333;
    margin: 0px 5px 5px 5px;
    padding: 0px 5px 5px 5px;
    min-width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}