<div class="home-page">
  <div class="card">
    <div class="login">
      <form
        #loginFrom="ngForm"
        (ngSubmit)="onFormSubmit(loginFrom)"
        id="login-container"
        method="get"
        class="form"
      >
        <label class="form-label" for="nickname"></label>
        <input
          class="login-form"
          type="text"
          placeholder="USERNAME"
          maxlenght="45"
          id="nickname"
          ngModel
          name="username"
          required
        />
        <br />
        <label class="form-label" for="password"></label>
        <input
          class="login-form"
          type="password"
          placeholder="PASSWORD"
          maxlenght="40"
          id="password"
          ngModel
          name="password"
          required
        />
        <br />
        <input id="submitButton" type="submit" value="Login" />
        <button id="createAccount" (click)="onCreateAccount()">
          Create Account
        </button>
        <br />
        <br />
        <a id="guestButton" routerLink="profillist">> Continue as guest</a>
      </form>
    </div>
  </div>
</div>
