<div id="home-page">
  <div id="card">
    <div id="login">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onFormSubmit(loginForm)"
        id="login-container"
      >
        <label class="form-label" for="nickname"></label>
        <input
          formControlName="nickname"
          class="login-form"
          type="text"
          placeholder="USERNAME"
          maxlenght="45"
          id="nickname"
          name="username"
          required
        />
        <!--<p *ngIf="formGroup.formControlName(nickname) === ''">Username field must not be empty</p>-->
        <br />
        <label class="form-label" for="password"></label>
        <input
          formControlName="password"
          class="login-form"
          type="password"
          placeholder="PASSWORD"
          maxlenght="40"
          id="password"
          name="password"
          required
        />
        <br />
        <input
          [disabled]="loginForm.invalid"
          id="submitButton"
          type="submit"
          value="Login"
        />
        <button id="createAccount" (click)="onCreateAccount()">
          Create Account
        </button>
        <br />
        <br />
        <a id="guestButton" routerLink="profillist">> Continue as guest</a>
      </form>
    </div>
  </div>
</div>
