h1 {
  color: rgb(6, 6, 233);
  font-size: 5em;
}

#profil-page {
  box-sizing: border-box;
  width: 60%;
  margin: 10px auto;
  padding: 0px 0px;
  background-color: white;
  border-radius: 10px;
}

#card {
  display: block;
  text-align: center;
  padding-bottom: 100px;
}

p {
  font-size: 2em;
}
