.event-details {
    margin-left: 3%;
    margin-right: 3%;
}

#card-header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    h1 {
        color: #333;
        margin: 1%;
    }
    button {
        margin: 0px;
        background-color: #dfe6e9;
    }
}

.card {
    background-color: #d1d8e0;
    min-height: 30vh;
    min-width: 30vw;
    padding: 5px;
    margin: 5px;
    h4 {
        color: #333;
        text-align: center;
    }
}

.more-details {
    display: flex;
    justify-content: space-evenly;
}

.small-card {
    background-color: #dfe6e9;
    padding: 3px;
    margin: 2px;
    min-height: 20vh;
    width: 100%;
    text-align: center;
}

.first-row {
    display: flex;
}

.second-row {
    display: flex;
    .card {
        min-width: 45.45vw;
    }
}