<div class="event-details">
    <div id="card-header">
            <h2> {{event.title | uppercase}} </h2>
    </div>
    <div class="main-details">
        <div class="first-row">
        <div class="card">
            <h4>Jeu:</h4>
            <div class="more-details">
                <span>On va jouer à ce jeu là: <br> {{this.event.game.name}}!!</span>
                <span>this.event.game .shortDescription</span>
            </div>
        </div>
        <div class="card">
            <h4>Description:</h4>
            <div class="more-details">
                <span>{{this.event.description}}</span>
            </div>
        </div>
        <div class="card">
            <h4>Lieu:</h4>
            <div class="more-details">
                <span *ngIf="this.event.location.address">Addresse: <br> {{this.event.location.address}}</span>
                <span *ngIf="this.event.location.zipCode">Code Postal: <br>{{this.event.location.zipCode}}</span>
                <span>Ville: <br>{{this.event.location.town}}</span>
            </div>
        </div>
    </div>
</div>
    <div class="second-row">
        <div class="card">
            <h4>Joueurs:</h4>
            <div class="more-details">
                <span>Organisateur: <br>{{this.event.creator.nickname}}</span>
                <span>Joueurs attendus: <br>{{this.event.minPlayer}}-{{this.event.maxPlayer}}</span>
                <span>Joueurs inscrits: <br>{{this.event.registeredUsers.length}}</span>
                <span>Places restantes: <br>{{this.remainingSlots}}</span>
            </div>
        </div>
        <div class="card">
            <h4>Date:</h4>
            <div class="more-details">
                <span>Date de début: <br>{{this.event.startingDate.toString()}}</span>
                <span *ngIf="this.event.endDate">Date de fin: <br>{{this.event.endDate}}</span>
                <span>Date de clôture: <br>{{this.event.limitDate}}</span>
            </div>
        </div>
    </div>
</div>