.event-details {
    margin-left: 3%;
    margin-right: 3%;
}

#card-header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    h1 {
        color: #333;
        margin: 1%;
    }
    button {
        margin: 0px;
        padding: 5px;
        color:#333;
        font-weight: 500;
        background-color: #dfe6e9;
        cursor: pointer;
        &:hover {
            background-color: #324c57;
            color: white;
        }
        &:active {
            transform: translate(1px, 1px);
            box-shadow: #324c57 0 0 5px;
        }
    }
}

.card {
    background-color: #d1d8e0;
    min-height: 30vh;
    min-width: 30vw;
    padding: 5px;
    margin: 5px;
    h4 {
        color: #333;
        text-align: center;
    }
}

.more-details {
    display: flex;
    justify-content: space-evenly;
    span {
        background-color: #dfe6e9;
        padding: 3px;
        margin: 2px;
        min-height: 15vh;
        width: 100%;
        text-align: center;
    }
}

.first-row {
    display: flex;
}

.second-row {
    display: flex;
    .card {
        min-width: 45.45vw;
    }
}